body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color:azure;
}

#board {
    height: 540px;
    width: 600px;
    background-color: burlywood;
    border: 5px solid brown;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    height: 70px;
    width: 70px;
    margin: 5px;

    background-color: white;
    border-radius: 50%;
    border: 2.5px solid black;
}

.red-piece {
    background-color: red;
}

.yellow-piece {
    background-color: yellow;
}

